<h1>SimpleForm info</h1>
Your username is <%= username %>
<hr />
Your age is <%= age %> and your age in days is <%= ageInDays %>
<hr />
Your height(inches):<%= height %> , height(cm): <%= heightCm %>
<hr />
This is version <%= version %>