<h1>Find Course by Subject</h1>
<form method = "post" action="/coursesBySubject">
    Enter course subject: <input type = "text" name = "subject">
    <br>
    Enter course term: <input type = "text" name = "term">
    <input type = "submit">
</form>
<%= JSON.stringify(schedIds) %>
<hr>
<% if (courses.length==0){ %>
No courses to display
<% } else {%> 
    <h1>Courses</h1>

<% for (course of courses) {%>
<hr>
<%= course.subject %> <%= course.coursenum %>
id = <%= course.courseId %> <%= course.name %>
<% if (schedIds.includes(course._id)){%>
  scheduled
<% } else {%>
<a href="/addCourse/<%= course._id%>">add to schedule</a>
<% }}} %>


<pre>
    <%= JSON.stringify(courses,null,5) %>
</pre>