<ol>
    <% for(course of courses) {%>
        <li><%= course.courseId?.subject %> 
            <%= course.courseId?.coursenum %> 
            <%= course.courseId?.name %> 
            <a href="/deleteFromSchedule/<%= course.id%>">delete</a>
        </li>
    <% } %>
</ol>
<!--
<pre>
    <%= JSON.stringify(courses, null, 5) %> 
</pre>
-->